<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Artice List</title>
</head>

<body>
    <h1>Article List</h1>
    {% for article in object_list %}
    <hr>
    <article>
        <h2>{{article.title}}</h2>
        <div>By {{article.author}}</div>
        <div>At {{article.published}}</div>
        {{article.content|safe}}
    </article>
    <hr>
    {% empty %}
    {% endfor %}
</body>

</html>